@charset "UTF-8";

html, body, section, div, input, p, h1 {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  border: none;
  line-height: 1;
}

html, body {
  height: 100%;
}

h1 {
  color: #C7A666;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  padding: 18px;
}

input[type=button] {
    color: #fff;
    background-color: #B5001F;
    border-color: #B5001F;

    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

div.contents {
  height: 100%;
}

div#result {
  width: 50%;
  margin: 0px auto;
  text-align: center;
  font-size: 18px;
  padding: 9px 0px;
}

div#control-button {
  width: 50%;
  margin: 0px auto;
  text-align: center;
  padding: 18px 0px;
}

div#share {
  width: 50%;
  margin: 0px auto;
  text-align: center;
  padding: 18px 0px;
}


div#share a {
  color : #0088cc;
}

section.render-area {
  width: 100%;
  position: relative;
}

div#cycle-area {
}

div.cycle-icon {
  display: block;
  width: 80px;
  padding-top: 80px;
  margin: 0px;
  background-size: contain;
  background-repeat: no-repeat;
  transform-style: preserve-3d;
  transition: transform 0.1s;
  position: absolute;
}

@media screen and (max-width: 320px) {
  div.cycle-icon {
  width: 20%;
  padding-top: 20%;
  }
}

section.footer-area {
  position: fixed;
  bottom: 0px;
  padding: 14px;
  text-align: center;
}
